$o-community-color: #19254d;
$o-brand-odoo:      #19254d;
$o-brand-primary:   #19254d;
$o-navbar-height:   55px;
$brand-info-dark:   #8b607d;

$primary:       #19254d !default;
$secondary:     #1e4b97 !default;
$success:       #469408 !default;
$info:          #27b47a !default;
$warning:       orange !default;
$danger:        #d91f1f !default;

