.oh-payslip .stat-icon{
    background: #12233F !important;
}
div.oh-contracts .stat-icon{
    background: #12233F !important;
}
div.oh-timesheets .stat-icon{
    background: #12233F !important;
}
div.oh-broad-factor .stat-icon{
    background: #12233F !important;
}

.hr_attendance_login .oh-card{
    background: #12233F !important;
}

i.o_hr_attendance_sign_in_out_icon.fa-sign-in{
    background: none !important;
}

.stat-widget-one .stat-text{
    color: #12233F !important;
}

.oh-timesheets .stat-widget-one .stat-text{
    color: #12233F !important;
}
.oh-contracts .stat-widget-one .stat-text{
    color: #12233F !important;
}
.oh-broad-factor .stat-widget-one .stat-text{
    color: #12233F !important;
}
div.hr_attendance_login .stat-widget-one .stat-text{
    color: white !important;
}

div.hr_leave_request_approve p{
    color: #12233F !important;
}
div.hr_leave_request_approve h4{
    background: #12233F !important;
}
div.leaves_request_today p{
    color: #12233F !important;
}
div.leaves_request_today h4{
    background: #12233F !important;
}
div.leaves_request_month p{
    color: #12233F !important;
}
div.leaves_request_month h4{
    background: #12233F !important;
}
div.hr_leave_allocations_approve p{
    color: #12233F !important;
}
div.hr_leave_allocations_approve h4{
    background: #12233F !important;
}
div.hr_job_application_approve p{
    color: #12233F !important;
}
div.hr_job_application_approve h4{
    background: #12233F !important;
}
.oh-card-body p.stat-head{
    color: #12233F;
}
.oh-ribbon span{
    background: #12233F !important;
}
.legend td{
    color: #12233F;
}
.employee-prof{
    background: #12233F !important;
}
.media-body.employee-name{
    background:  #12235F !important;
}