

aside.o_chatter.oe_chatter {
display:none;
}

.o_main_navbar {
    border-bottom: 1 px solid #6c4fbd;
    background-color: #19254D;
}

h1 h2 h3 h4 h5 {
    color:#19254D;
}


/* div.o_statusbar_status.o_field_widget {
    color:#19254d;   
}

.btn-primary {
    background-color:#19254d;   
} */

th[data-name="child_name"]{
    width: 80% !important;
}

/* added css*/
.o_menu_apps > .dropdown.show > .dropdown-menu.show .a_app_menu_title {
  display: inline-block !important;
  width: 200px !important;
}
header .o_main_navbar > .o_menu_apps > li > a{
    transition: transform .2s ease-in;
    margin-left: 10px;
    height: fit-content !important:
}
header .o_main_navbar > .o_menu_apps > li > a > i{
    font-size: 2rem !important;
}
 header .o_main_navbar > .o_menu_apps > li > a:hover, .o_main_navbar > .o_menu_apps > li > a:active {
    background-color: transparent !important;
}
 header .o_main_navbar > .o_menu_apps > li > a > i:hover{
    color: #556ee6 !important;
    transform: scale(1.5);
}

.app-menu .dropdown-item.o_app.mt0:hover, .app-menu .dropdown-item.o_app.mt0:hover >  .a_app_menu_title {
    background-color: transparent !important;
    transform: scale(1.3);
    color: black !important;
}
.o_main_navbar > a:hover{
    color: white !important;
}
.o_main_navbar .show::-webkit-scrollbar {
 display: none !important;
}

@media (max-width: 1371px){
nav.o_main_navbar {
    justify-content: space-between !important;
}
h1{
font-size: calc(1rem + 1.1vw);
}
.search-container > div:first-child {
margin-left: 0!important;
}
.nav-container {
    padding: 0px 10rem !important;
}
}
@media (max-width: 768px){
.form-row {
    flex-wrap: nowrap!important;
}
}
@media (max-width: 320px){
ul.o_menu_apps {
   padding-left: 0!important;
}
}

