<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
         <div class="oe_span12">
            <h2 class="oe_slogan">Philippine Localization</h2>
            <h3 class="oe_slogan">This module provides the complete data for Philippine's state/province, city/municipality and barangay. (source: http://www.philgis.org/)</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="install.PNG">
            </div>
        </div>
        <div class="oe_span6">
            <h2 class="oe_mt32">
                 Install Philippine - Localization
            </h2>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_mt32">
                 List of State/Province
            </h2>
            <ul>
                <li>Localization > Configuration > State/Province</li>
            </ul>
        </div>
        <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                        <img src="state.PNG">
                </div>
            </div>

    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="city.PNG">
            </div>
        </div>
        <div class="oe_span6">
            <h2 class="oe_mt32">
                 List of City/Municipality
            </h2>
            <ul>
                <li>Localization > Configuration > City/Municipality</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <h2 class="oe_mt32">
                 List of Barangay
            </h2>
            <ul>
                <li>Localization > Configuration > Barangay</li>
            </ul>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="barangay.PNG">
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Creation of Partner</h2>

            <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="select_state.PNG">
                </div>
            </div>

            <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="select_city.PNG">
                </div>
            </div>

            <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="select_barangay.PNG">
                </div>
            </div>
        </div>
    </div>
</section>