.o_main_navbar {
    .o_menu_apps {
        #apps_menu {
            position: fixed;
            top: $o-navbar-height;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 100%;
            border-radius: 0;
            z-index: 1050;
            background-color:#ffffff;
            background: transparent url(/backend_theme/static/src/img/application-switcher-bg.jpg) scroll center center;
            overflow: auto;
            flex-flow: column nowrap;
            display: flex;
            // opacity: 0.5;
            .o_app_search {
                display: flex;
                flex: 0 0 auto;
                width: 100%;
                max-width: 750px;
                margin: auto;
                padding: 10px 0;
                height: 64px;
                .o_search_box {
                    flex: 1 1 0;
                    border: none;
                    border-bottom: 1px solid lighten($o-brand-primary, 50%);
                    color: $o-brand-primary;
                    background-color: transparent;
                    padding: 0 10px;
                    font-size: 20px;
                    &:focus {
                        border-bottom: 2px solid $o-brand-primary;
                        outline: none;
                    }
                }
                .o_search_icon {
                    padding: 0 10px;
                    color: $o-brand-primary;
                    font-size: 30px;
                    background-color: transparent;
                }
            }
            .o_apps_container {
                max-width: 750px;
                width: 100%;
                margin: auto;
                flex: 0 0 auto;
                .o_app {
                    float: left;
                    width: calc(100%/6);
                    cursor: pointer;
                    text-align: center;
                    height: 155px;
                    .o_app_name {
                       margin: 10px 5px;
                        font-weight: bold;
                        color: $o-brand-primary;
                    }
                    .o_app_icon {
                        margin: 18px 0 auto;
                        max-height: 80px;
                        border-radius: 0px;
                    }
                    @media (max-width: map-get($grid-breakpoints, 'sm')) {
                        width: calc(100%/3);
                    }
                    @media (max-width: map-get($grid-breakpoints, 'xs')) {
                        width: calc(100%/3);
                    }
                    &:hover, &:active {
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                        box-shadow: 0px 0px 5px 0px rgba(72, 73, 121, 0.3);
                        border-radius: 5px;
                    }
                }
            }
            .o_brand_logo {
                flex: 1 0 auto;
                align-items: flex-end;
                margin: auto;
                display: flex;
            }
        }
    }
    ul.o_menu_systray {
        .dropdown-menu {
            z-index: 1052;
        }
    }
}
