.o_required_modifier {
    &.o_input, .o_input {
        background-color: #d9edf7 !important;
        border-bottom: 2px solid #666666;
    }
}


.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: lighten($o-brand-primary, 30%);
    }
}
