<section class="oe_container">
    <div class="oe_row oe_spaced">
        <!-- <h2 class="oe_slogan" style="color:#875A7B;">Job Title</h2>
        <h3 class="oe_slogan">Creates user access template for each job defined.</h3> -->
        <!-- <div class="oe_span6">
            <p class="oe_mt32 text-justify">
                Button <b>"Create User Template"</b> - is available for creating user template.
            </p>
        </div> -->
        <div class="col-md-12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img class="img-responsive" src="partner_name_demo.gif" style="width:300%"/>
            </div>
        </div>
    </div>
</section>